//Переменные//
$gold:#ffd600;
$grayN: rgba(237, 229, 217, 0.5);
$black:#000;
$blue:#3e8be2;
$blue-plus: rgba(62, 139, 226, 0.3);
$white:#fff;
$gogle:#c9c9c9;
$tr: transparent; 
//********//


.middle {
    @include container();
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
header{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: rgb(96,108,136);
    background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%);
    background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
    .right{
            position: absolute;
            right: 0;
            top: 0;
        &>.button{
        border: 1px solid rgb(201, 201, 201); padding: 0px 20px; background: rgb(246, 214, 39); 
        float: right;
        a{
              font-size: 16px;
                color: $white;
                font-family: 'Source Sans Pro', sans-serif;
                text-transform: uppercase;
                @include LpaddingR(1rem);
                @include rhythm-padding(1);
                display: block;
                &:hover{
                   background: rgb(37,141,200);
                    background: -moz-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%);
                    background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
                    background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );
                    cursor: pointer;
                }
            }
            }
        @media only screen and(min-width:320px) and (max-width:960px) {
            position:relative;
        }
    }
    
    .middle{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
       &>a{
            color: $gold;
            font-size: 18px;
            font-family: 'Source Sans Pro', sans-serif;
           margin-right: 120px;
           @media only screen and(min-width:320px) and (max-width:760px) {
               margin-left: auto;
               margin-top: 1rem;
               margin-right: auto;
               &:nth-child(1){
                    padding-bottom: 0.5rem;
               }
           }
           
        } 
    }
    @media only screen and(min-width:320px) and (max-width:960px) {
       & #index_top{
        display: none;
    } 
    }
    
    ul.nav{
        //width: 100%;
        li{
            &.button{
                border: 1px solid rgb(201, 201, 201); padding: 0px 20px; background: rgb(246, 214, 39); 
                float: right;
                    }
            a{
              font-size: 16px;
                color: $white;
                font-family: 'Source Sans Pro', sans-serif;
                text-transform: uppercase;
                @include LpaddingR(1rem);
                @include rhythm-padding(1);
                display: block;
                &:hover{
                   background: rgb(37,141,200);
                    background: -moz-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(37,141,200,1) 100%);
                    background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
                    background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(37,141,200,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );
                    cursor: pointer;
                }
                
            }
            
        }
        @media only screen and(min-width:320px) and (max-width:960px){
                height: 100vh;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction:column;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                background: rgba(119, 119, 119, 0.9);
        }
    }
    & .graf{
        color: $white;
        font-size: 16px;
        //margin-left: 30px;
        @include rhythm-padding(1);
        padding-right: 3rem;
    }
}
main{
    @media only screen and(min-width:320px) and (max-width:760px) {
        padding-top: 42px;
    }
    &>div{
        &:after{
            @extend %fix;
        }
    }
    .slide_top{
        background-image: url(../img/1font.jpg);
        background-position: center right;
        background-size: 150%;
        .middle{
            @include rhythm-padding(6);
            h1{
                @include adjust-font-size-to(33px);
                color: $white;
                font-family: 'Source Sans Pro', sans-serif;
            }
            h2{
                @include adjust-font-size-to(40px);
                color: $gold;
                display: block;
                width: 50%;
                text-align: center;
                @include LpaddingR(1rem);
                font-family: 'Source Sans Pro', sans-serif;
                text-transform: uppercase;
                background: -moz-linear-gradient(to bottom, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%);
                    background: -webkit-linear-gradient(to bottom, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%);
                    background: linear-gradient(to bottom, rgb(84, 84, 84) 0%, rgb(0, 0, 0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54ffffff', endColorstr='#54ffffff',GradientType=0 );
            }
            .text-slide{
                @include span(100%);
                @include margin-leader(2);
                position: relative;
                & .bg{
                    @include span(50%);
                    background: -moz-linear-gradient(top, rgba(255,255,255,0.63) 0%, rgba(255,255,255,1) 100%);
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0.63) 0%,rgba(255,255,255,1) 100%);
                    background: linear-gradient(to bottom, rgba(255,255,255,0.63) 0%,rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1ffffff', endColorstr='#ffffff',GradientType=0 );
                    @media only screen and(min-width:320px) and (max-width:760px) {
                        width: 100%;
                    }
                    &:after{
                        @extend %fix;
                    }
                }
                img.cons {
                    width: 13%;
                    position: absolute;
                    bottom: -5rem;
                    //right: 0;
                    left: 0;
                     @media only screen and(min-width:320px) and (max-width:760px) {
                           width: 23%;
                            margin-top: 4rem;
                            bottom: -12rem;
                            left: 1rem;
                            right: 1rem;
                        }
                }
                span{
                    display: block;
                    @include span(100%);
                    @include adjust-font-size-to(32px);
                    color:#e21111;
                    font-family: 'Source Sans Pro', sans-serif;
                    
                }
                .list-property{
                    @include span(100%);
                    box-sizing:border-box;
                    
                    padding: 1rem;
                    li{
                        font-family: 'Source Sans Pro', sans-serif;
                        @include adjust-font-size-to(20px);
                        @include rhythm-margins(1);
                        &:before{
                            content: "";
                            width: 25px;
                            height: 25px;
                            margin-right: 0.5rem;
                            margin-top: 0.5rem;
                            float: left;
                            display: block;
                            //background: $gold;
                            background-image: url(../img/01a.png);
                            background-size: contain;
                        }
                    }
                }
                .right{
                    @include span(46% last);
                    position: relative;
                    &>img{
                        width: 59%;
                        float: left;
                        margin-top: -5rem;
                        @media only screen and(min-width:320px) and (max-width:760px) {
                            margin-top: -4rem;
                            &.cons{
                                top:10rem;
                            }
                        }
                        &.curcl{
                            position: absolute;
                            width: 40%;
                            right: 0;
                            //top:9rem;
                            &_one{
                                width: 30%;
                                bottom: 58px;
                                left: 0;
                                /* top: 0; */
                                position: absolute;
                                @media only screen and(min-width:320px) and (max-width:760px) {
                                    bottom: 215px;
                                }
                            }
                        }
                        &.cons{
                            position: absolute;
                            right: 0;
                            left: 0;
                            width: 13%;
                        }
                        
                    }
                    form{
                        margin-top: -10rem;
                        @include span(40% last);
                        @extend %flex-col;
                        @include rhythm-padding(2);
                        & input{
                            @include adjust-font-size-to(16px);
                            @include rhythm-padding(0.3);
                            @include LpaddingR(5px);
                            font-family: 'Source Sans Pro', sans-serif;
                            width: 80%; 
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                        button{
                            width: 100%;
                            background: rgb(255,214,94);
                            background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
                            background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
                            background: linear-gradient(to bottom, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); 
                            border: 0;
                            @include rhythm-padding(0.5);
                            @include adjust-font-size-to(16px);
                            
                            font-family: 'Source Sans Pro', sans-serif;
                        }
                        @media only screen and(min-width:320px) and (max-width:760px) {
                            width: 98%;
                            margin-top: 0;
                        }
                    }
                    
                }
            }
        }
        @media only screen and(min-width:320px) and (max-width:760px) {
            background-size: cover;
            .middle{
                h1{
                    width: 100%;
                }
                h2{
                    width: 100%;
                }
                .text-slide{
                    .list-property{
                        width: 100%;
                    }
                    .right{
                        width: 100%;
                        margin-top: 8rem;
                        
                    }
                    .curcl{
                        top:18rem;
                    }
                }
                
            }
        }
    }
    .salle_box-1{
        background-image: url(../img/land.jpg);
        background-size: cover;
        background-position: center;
        //background: #cecece;
        &.block7{
            background-image: url(../img/landscape-fog.png);
            background-size: cover;
            form{
                    padding-top: 10rem !important;
                    background: rgba(69, 68, 68, 0.68);
                    background-image: url(../img/nmisn.png);
                    background-size: 49%;
                    background-repeat: no-repeat;
                    background-position: center top;
                        //@include span(40% last);
                        @extend %flex-col;
                        @include rhythm-padding(2);
                        & input{
                            @include adjust-font-size-to(20px);
                            @include rhythm-padding(0.1);
                            @include LpaddingR(5px);
                            width: 80%; 
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                        button{
                            width: 100%;
                            background: rgb(255,214,94);
                            background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
                            background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
                            background: linear-gradient(to bottom, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); 
                            border: 0;
                            @include rhythm-padding(0.3);
                            font-size: 16px;
                            
                            font-family: 'Source Sans Pro', sans-serif;
                        }
                    }
        }
        &.block12{
            background-image: url(../img/car-wheel.png);
            //background-position: center;
            background-size: cover;
            h3{
                padding:20px;
                font-family: 'Source Sans Pro', sans-serif;
                color: $white;
                //background: rgba(111, 111, 111, 0.77);
                @include adjust-font-size-to(33px);
                text-align: center;
                width: 58%;
                & span{
                    color: #fbe912;
                }
                @media only screen and(min-width:320px) and (max-width:760px) {
                    width: 100%;
                    line-height: 55px;
                }
            }
            form{
                        background: rgba(69, 68, 68, 0.68);
                        //@include span(40% last);
                        @extend %flex-col;
                        @include rhythm-padding(2);
                        & input{
                            @include adjust-font-size-to(20px);
                            @include rhythm-padding(0.1);
                            @include LpaddingR(5px);
                            width: 80%; 
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                        button{
                            width: 100%;
                            background: rgb(255,214,94);
                            background: -moz-linear-gradient(top, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
                            background: -webkit-linear-gradient(top, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
                            background: linear-gradient(to bottom, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); 
                            border: 0;
                            @include rhythm-padding(0.3);
                            font-size: 16px;
                            
                            font-family: 'Source Sans Pro', sans-serif;
                        }
                    }
            .h3_pic{
                width: 30%;
                @media only screen and(min-width:320px) and (max-width:760px) {
                    width: 100%;
                    line-height: 55px;
                }
            }
        }
        .middle{
            @include rhythm-padding(4);
            h3{
                padding: 30px;
                position: relative;
                font-family: 'Source Sans Pro', sans-serif;
                color:#ff1a1a;
                //background: rgba(111, 111, 111, 0.77);
                @include adjust-font-size-to(33px);
                line-height: 34px;
                //border: 10px solid #e40c0d;
                text-align: center;
                //border-style: ridge;
                & strong{
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 0.3rem;
                    padding-bottom: 0.3rem;
                    //background:  rgba(249, 0, 0, 0.88);
                }
                & span{
                    color: #ff1a1a;
                }
                & img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                }
            }
            .time_box{
                @extend %flex_row;
                margin-top: 20px;
                & .timer{
                    background: rgba(66, 65, 65, 0.98); 
                    background-size: contain;
                    border-radius: 10px;
                    //width: 50%;
                    padding-bottom: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    .price_box_time{
                        margin-top: 2rem;
                        & div{
                            @include adjust-font-size-to(30px);
                            color: $gold;
                            @include LpaddingR(1rem);
                            &:nth-child(1){
                                text-decoration: line-through;
                                color: $black;
                                
                            }
                        }
                    }
                    & .h2{
                        text-align: center;
                        color: $white;
                        @include adjust-font-size-to(30px);
                        font-family: 'Source Sans Pro', sans-serif;
                        text-transform: uppercase;
                    }
                    .chart{
                      display: inline-block;
                      width: 95px;
                      height: 95px;
                      margin: 0 10px;
                      vertical-align: top;
                      position: relative;
                      box-sizing:border-box; 
                    padding-top: 22px;
                    text-align: center;
                    color: #fff;

                      span{
                        display: block;
                        font-size: 2em;
                        font-weight: normal;
                       margin-top: 11px;
                        margin-bottom: 10px;
                      }

                      canvas{
                        position: absolute;
                        left: 0; 
                        top: 0;
                      }   
                    }
                    
                }
                & .pic_product{ 
                    width: 40%;
                    float: right;
                    margin-left: 100px;
                    @media only screen and(min-width:320px) and (max-width:760px) {
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 2rem;
                    }
                    & .prizz{
                        width: 30%;
                    }
                }
            }
              
        }
        
    }
    .video_box{
        background-image: url(../img/outdoor-rock.jpg);
        background-position: center;
        background-size: cover;
        & .middle{
            @include rhythm-padding(2);
        }
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $white;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
        }
        & .video{
                border: 20px solid #fff;
                border-radius: 10px;
            width: 50%;
            margin: 0 auto;
            & iframe{
                margin: 0;
                width: 100%;
                //height: 5rem;
            }
        }
    }
    .text-info{
        //background-image: url(../img/road-skyline.png);
        //background-image: url(../img/bg.png);
        background: #cecece;
        & .middle{
            @include rhythm-padding(2);
        }
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $black;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
        }
        & .flex_row{
            &>div{
                width: 30%;
                &:nth-child(3){
                    img{
                        border: 8px solid #007bbf;
                        border-radius: 14px;
                    }
                }
                @media only screen and(min-width:320px) and (max-width:960px) {
                    width: 100%;
                    &:nth-child(3){
                        width: 90%;
                    }
                }
            }
        }
        & .text{
            @include span(30%);
            float: none;
            background: rgba(236, 236, 236, 0.82);
            padding:30px;
            @include adjust-font-size-to(18px);
            line-height: 24px;
            font-family: 'Source Sans Pro', sans-serif;
            @include LmarginR(auto);
        }
    }
    .sequence{
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $black;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
        }
        .middle{
            @include rhythm-padding(2);
            .flex_row{
                & .box{
                    width: 14%;
                   margin: 0 20px;
                    background-image: url(../img/bg_put.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 13% 54%;
                    & img{
                        //border-radius: 14px;
                        width: 100%;
                        
                    }
                    & div{
                        min-height: 18rem;
                    }
                    p{
                        @include adjust-font-size-to(14px);
                        line-height: 22px;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        text-align: center;
                        color: $white;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: 400;
                        padding: 0 22px;
                        @media only screen and(min-width:320px) and (max-width:760px) {
                            @include adjust-font-size-to(12px);
                        }
                    }
                    @media only screen and(min-width:320px) and (max-width:760px) {
                        width: 100%;
                        & div{
                            min-height: 6rem;
                            padding-top: 5rem;
                        }
                        & img{
                            width: 50%;
                        }
                    }
                }
                & .arrow{
                    width: 2%;
                    @media only screen and(min-width:320px) and (max-width:760px) {
                        width: 4%;
                        -moz-transform: rotate(90deg); /* Для Firefox */
                        -ms-transform: rotate(90deg); /* Для IE */
                        -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
                        -o-transform: rotate(90deg); /* Для Opera */
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    .sequence_avtor{
            background: #f0eeef;
        .middle{
            @include rhythm-padding(2);
        }
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $black;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
        }
    }
    .foto_job{
        background-image: url(../img/road-skyline.png);
        background-size: cover;
        background-position: center;
        .middle{
            @include rhythm-padding(2);
            
        }
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $gold;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            background: rgba(66, 65, 65, 0.98); 
            padding: 10px;
        }
        .middle{
            @include rhythm-padding(2);
            .flex_row{
                &>div{
                    width: 28%;
                    margin: 0 2%;
                    background: rgb(0, 123, 191);
                    border: 5px solid rgb(0, 123, 191);
                    color: #fff;
                    img{
                        width: 100%;
                    }
                    & p{
                        width: 100%;
                        @include adjust-font-size-to(20px); 
                        font-family: 'Source Sans Pro', sans-serif;
                        text-align: center;
                        min-height: 8rem;
                    }
                    @media only screen and(min-width:320px) and (max-width:760px) {
                        width: 100%;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    .carusel_otziv{
        .middle{
            @include rhythm-padding(2);
        }
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $gold;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            background: rgba(66, 65, 65, 0.98); 
            padding: 10px;
        }
        .flex_row{
            img{
                width: 38%;
            }
            div{
                width: 50%;
                .name{
                    @include adjust-font-size-to(24px);
                    font-family: 'Source Sans Pro', sans-serif;
                    color: $blue;
                }
                p{
                   @include adjust-font-size-to(16px);
                    font-family: 'Raleway', sans-serif;
                    color: $black; 
                }
                @media only screen and(min-width:320px) and (max-width:760px) {
                    width: 80%;

                }
            }
            @media only screen and(min-width:320px) and (max-width:760px) {
                width: 100%;
                img{
                    width: 80%;
                }
                
            }
        }
    }
    .do_posle{
        background-image: url(../img/bg.png);
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $gold;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            background: rgba(66, 65, 65, 0.98); 
            padding: 10px;
        }
        .middle{
            @include rhythm-padding(2);
        }
        img{
            width: 70%;
        }
    }
    .doubt{
        background-image: url(../img/laptop-notebook.jpg);
         //background: rgba(25, 25, 25, 0.86);
        background-position: center;
        background-size: cover;
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $gold;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            background: rgba(66, 65, 65, 0.98); 
            padding: 10px;
        }
        & .middle{
            @include rhythm-padding(4);
            & div{
                
                width: 50%;
                li{
                    background: rgba(25, 25, 25, 0.86);
                    margin-bottom: 20px;
                    padding: 30px;
                    &:after{
                        @extend %fix;
                    }
                    strong{
                       color: $blue;
                       @include adjust-font-size-to(33px);
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: 700;
                        float: left;
                        display: block;
                        width: 10%;
                    }
                    p{
                        float: left;
                        @include adjust-font-size-to(16px);
                        line-height: 26px;
                        color: $white;
                        display: block;
                        width: 90%;
                    }
                } 
                @media only screen and(min-width:320px) and (max-width:760px) {
                    width: 100%;
                }
            } 
            img{
                width: 45%;
            }
        }
    }
    .order{
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $gold;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            background: rgba(66, 65, 65, 0.98); 
            padding: 10px;
        }
        .middle{
            @include rhythm-padding(4);
        }
    }
    .dostavka{
        
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $gold;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            background: rgba(66, 65, 65, 0.98); 
            padding: 10px;
        }
        .middle{
            position: relative;
            @include rhythm-padding(4);
            .post_text {
                position: absolute; 
                top: 0;
                color: #e62117;
                font-size: 27px;
                line-height: 30px; 
            }
        img{
            width: 32%;
            @media only screen and(min-width:320px) and (max-width:760px) {
                width: 100%;
            }
        }
    }
    .maps{
        background: #0f0f0f;
        .h2{
            @include adjust-font-size-to(33px);
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            color: $gold;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            background: rgba(66, 65, 65, 0.98); 
            padding: 10px;
        }
        .middle{
            @include rhythm-padding(2);
            //background-image: url(../img/header9black.png);
            
        }
        .flex_col{
            margin: 0 20px;
            @include adjust-font-size-to(20px);
            color: $white;
            a{
                color: $gold;
            }
        }
    }
    
}
}