@import "compass/css3";
@import "base/typography";

//mixin
@mixin LpaddingR($pad){
    padding-left: $pad;
    padding-right: $pad;
}
@mixin LmarginR($mar){
    margin-left: $mar;
    margin-right: $mar;
}


//********//

.flex_mid {
    @media only screen and(min-width:960px) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    @media only screen and(min-width:320px) and (max-width:960px) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    }
}
.flex_col{
    @extend %flex-col;
    
}
.flex_row{
    @extend %flex_row;
    & .element{
        @media only screen and(min-width:320px) and (max-width:960px) {
                    width: 100%;  
                }
    }
    
}
.m_box_line{
    display: block;
    width: 219px;
    height: 8px;
    background: $yellow;
    @include rhythm-margins(0.4);
    margin-left: auto;
    margin-right: auto;
}
 
img,
iframe {
    margin: auto;
    display: block;
    @include rhythm-margins(0.8);
    width: 100%;
}

a{
    text-decoration: none;
    opacity: 0.95;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
span{
    
}