@import "compass/typography/vertical_rhythm";
@import "compass/typography";
@import "compass/typography/text"; 
@import "compass/css3/box-shadow";

//Переменные
$yellow:#fcb603;
$gray:#fff;
$gray2:#21262b;
$t_gray:rgb(157, 164, 182);
$white: rgb(255,255,255);


//Глобальный размер шрифтов
$base-font-size:16px!global; 
$base-line-height:18px!global;
$rhythm-unit:"px" !global;
$grid-background-baseline-color:rgba(110, 110, 110, 0.65);
$rem-with-px-fallback: true !global;
@include establish-baseline;
@media only screen and(min-width:320px) and (max-width:480px) {
    $base-font-size: 10px!global;
    $base-line-height: 12px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}
@media only screen and(min-width:480px) and (max-width:760px) {
    $base-font-size: 12px!global;
    $base-line-height: 14px!global;
    $rhythm-unit: "rem";
    $grid-background-baseline-color: rgba(110, 110, 110, 0.65);
    @include establish-baseline;
}
body{
    background: $gray;
}

//List Paragraf
h1 {
    @include adjust-font-size-to(4rem);
    &:after{
        @extend %fix; 
    }
}

h2 {
    @include adjust-font-size-to(3.44rem); 
    &:after{
        @extend %fix; 
    }
}

h3 {
    @include adjust-font-size-to(2.635rem);
    &:after{
        @extend %fix; 
    }
    
}

h4 {
    @include adjust-font-size-to(1.414rem);
    text-transform: uppercase;
} 
a,
button{
    cursor: pointer;
    background-repeat: no-repeat !important;
    &:hover{
        opacity: 0.5;
    }
    
}

//Global Element options
img,
iframe {
    margin: auto; 
    display: block;
    @include rhythm-margins(0.8);

}

a{
    text-decoration: none;
    opacity: 0.95;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
span{
    
}

