@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700|Raleway:400,700|Roboto:300,300i,400,400i,500,500i,700,700i,900&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200i,300,300i,400,400i,700,700i,900,900i&subset=cyrillic,cyrillic-ext");
/*font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
/* line 106, ../../../RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.125em;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 106, ../../../RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 62.5%;
    line-height: 1.2em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 760px) {
  /* line 106, ../../../RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 75%;
    line-height: 1.16667em;
  }
}
/* line 35, ../sass/base/_typography.scss */
body {
  background: #fff;
}

/* line 40, ../sass/base/_typography.scss */
h1 {
  font-size: 48px;
  line-height: 56px;
}

/* line 47, ../sass/base/_typography.scss */
h2 {
  font-size: 41px;
  line-height: 56px;
}

/* line 54, ../sass/base/_typography.scss */
h3 {
  font-size: 32px;
  line-height: 42px;
}

/* line 62, ../sass/base/_typography.scss */
h4 {
  font-size: 17px;
  line-height: 28px;
  text-transform: uppercase;
}

/* line 66, ../sass/base/_typography.scss */
a,
button {
  cursor: pointer;
  background-repeat: no-repeat !important;
}
/* line 70, ../sass/base/_typography.scss */
a:hover,
button:hover {
  opacity: 0.5;
}

/* line 77, ../sass/base/_typography.scss */
img,
iframe {
  margin: auto;
  display: block;
  margin-top: 11px;
  margin-bottom: 11px;
}

/* line 85, ../sass/base/_typography.scss */
a {
  text-decoration: none;
  opacity: 0.95;
}
/* line 88, ../sass/base/_typography.scss */
a:hover {
  cursor: pointer;
  opacity: 1;
}

@media only screen and (min-width: 960px) {
  /* line 17, ../sass/base/_mod.scss */
  .flex_mid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 960px) {
  /* line 17, ../sass/base/_mod.scss */
  .flex_mid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 960px) {
  /* line 45, ../sass/base/_mod.scss */
  .flex_row .element {
    width: 100%;
  }
}

/* line 52, ../sass/base/_mod.scss */
.m_box_line {
  display: block;
  width: 219px;
  height: 8px;
  background: #fcb603;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 62, ../sass/base/_mod.scss */
img,
iframe {
  margin: auto;
  display: block;
  margin-top: 11px;
  margin-bottom: 11px;
  width: 100%;
}

/* line 70, ../sass/base/_mod.scss */
a {
  text-decoration: none;
  opacity: 0.95;
}
/* line 73, ../sass/base/_mod.scss */
a:hover {
  cursor: pointer;
  opacity: 1;
}

/* line 1, ../sass/components/_mod.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/* line 15, ../sass/components/_mod.scss */
.owl-carousel .owl-item.active:hover {
  position: relative;
}

/* line 28, ../sass/components/_mod.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

/*Slide
-------------------------------------------------------------------------------*/
/* line 35, ../sass/components/_mod.scss */
.owl-carousel {
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

/* line 40, ../sass/components/_mod.scss */
.owl-theme .owl-dots {
  width: 100%;
  z-index: 99;
  margin-top: -1.1rem;
  position: relative;
}

/* line 47, ../sass/components/_mod.scss */
.owl-theme .owl-controls {
  position: absolute;
  top: 26px;
  text-align: center;
  width: 100%;
}

/* line 54, ../sass/components/_mod.scss */
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

/* line 61, ../sass/components/_mod.scss */
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

/* line 75, ../sass/components/_mod.scss */
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

/* line 82, ../sass/components/_mod.scss */
.owl-nav {
  margin-top: -182px;
}

/* line 85, ../sass/components/_mod.scss */
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 93, ../sass/components/_mod.scss */
.owl-nav .owl-prev {
  float: left;
  width: 47px;
  height: 46px;
  background-image: url(../img/prev.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* line 102, ../sass/components/_mod.scss */
.owl-nav .owl-next {
  float: right;
  width: 47px;
  height: 46px;
  background-image: url(../img/next.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* line 111, ../sass/components/_mod.scss */
.owl-nav div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}

/* line 127, ../sass/components/_mod.scss */
.owl-carousel .owl-stage-outer {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/**-----------------------------------------------------*/
/* line 137, ../sass/components/_mod.scss */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */
/* line 146, ../sass/components/_mod.scss */
.remodal {
  margin-left: 0;
  border-radius: 0px;
  border: 1px soolid #2b2a28;
  -webkit-box-shadow: 0px 0px 42px 3px #2b2a28;
  -moz-box-shadow: 0px 0px 42px 3px #2b2a28;
  box-shadow: 0px 0px 42px 3px #2b2a28;
}
/* line 153, ../sass/components/_mod.scss */
.remodal .form_out {
  margin-left: 3%;
  margin-right: 3%;
}
/* line 155, ../sass/components/_mod.scss */
.remodal .form_out img {
  width: 24%;
  margin: auto;
  float: none;
}
/* line 163, ../sass/components/_mod.scss */
.remodal .form_out .name {
  font-size: 28px;
  line-height: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
/* line 167, ../sass/components/_mod.scss */
.remodal .form_out .name_two {
  color: #ed0000;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 28px;
  line-height: 21px;
  padding-top: 14px;
  padding-bottom: 14px;
}
/* line 177, ../sass/components/_mod.scss */
.remodal .form_out p {
  font-size: 14px;
  line-height: 28px;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
  width: 94%;
}
/* line 183, ../sass/components/_mod.scss */
.remodal .form_out p.strong {
  font-weight: 800;
}
/* line 187, ../sass/components/_mod.scss */
.remodal .form_out .line {
  width: 94%;
  border: 2px solid #ed0000;
}
/* line 191, ../sass/components/_mod.scss */
.remodal .form_out .img_modal {
  width: 94%;
}
/* line 194, ../sass/components/_mod.scss */
.remodal .form_out .flex_row2 {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
/* line 212, ../sass/components/_mod.scss */
.remodal .form div {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
}
/* line 216, ../sass/components/_mod.scss */
.remodal .form div:nth-child(2) .left, .remodal .form div:nth-child(2) .right {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #fcb603;
}
/* line 222, ../sass/components/_mod.scss */
.remodal .form div .left {
  width: 65%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: left;
  padding-left: 1rem;
}
/* line 227, ../sass/components/_mod.scss */
.remodal .form div .right {
  width: 25%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: right;
  padding-right: 1rem;
}
/* line 231, ../sass/components/_mod.scss */
.remodal .form div .right span {
  font-style: italic;
  text-decoration: line-through;
  display: block;
  float: left;
}
/* line 243, ../sass/components/_mod.scss */
.remodal .form fieldset #chose_file {
  width: 45%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 14px;
  display: block;
  float: none;
  background-position: left;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  text-decoration: none;
  border: 0;
  background-color: #fcb603;
  margin-bottom: 15px;
  color: #fff;
}
/* line 259, ../sass/components/_mod.scss */
.remodal .form fieldset #chose_file_text {
  height: 42px;
  font-size: 12px;
  line-height: 28px;
  line-height: 45px;
  padding-left: 20px;
  color: #fff;
  overflow: hidden;
}
/* line 267, ../sass/components/_mod.scss */
.remodal .form fieldset #chose_file_input {
  display: none;
}
/* line 272, ../sass/components/_mod.scss */
.remodal .formTitle {
  color: #000;
}
/* line 276, ../sass/components/_mod.scss */
.remodal textarea {
  font-size: 12px;
  line-height: 28px;
  width: 65%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  color: #2b2a28;
  background: #fff;
  border: 1px solid #0f73d9;
  border-radius: 3px;
  /* Firefox 18- */
}
/* line 283, ../sass/components/_mod.scss */
.remodal textarea::-webkit-input-placeholder {
  color: #c9c9c9;
}
/* line 284, ../sass/components/_mod.scss */
.remodal textarea ::-moz-placeholder {
  color: #c9c9c9;
}
/* line 285, ../sass/components/_mod.scss */
.remodal textarea :-ms-input-placeholder {
  color: #c9c9c9;
}
/* line 291, ../sass/components/_mod.scss */
.remodal input {
  font-size: 12px;
  line-height: 28px;
  width: 65%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  color: #2b2a28;
  background: #fff;
  border: 1px solid #0f73d9;
  border-radius: 3px;
  /* Firefox 18- */
}
/* line 299, ../sass/components/_mod.scss */
.remodal input::-webkit-input-placeholder {
  color: #c9c9c9;
}
/* line 300, ../sass/components/_mod.scss */
.remodal input ::-moz-placeholder {
  color: #c9c9c9;
}
/* line 301, ../sass/components/_mod.scss */
.remodal input :-ms-input-placeholder {
  color: #c9c9c9;
}
/* line 302, ../sass/components/_mod.scss */
.remodal input[type='submit'] {
  width: 48.33333%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  color: #000;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3px;
  display: block;
  margin: 1rem auto 0;
  float: right;
  background: #ffd600;
  font-size: 11px;
  line-height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: 700;
}
/* line 317, ../sass/components/_mod.scss */
.remodal input[type='submit']:hover {
  cursor: pointer;
  background: #4e79c1;
  color: #fff;
}

/* line 331, ../sass/components/_mod.scss */
#secondimg img {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}

/* Hide scroll bar */
/* line 337, ../sass/components/_mod.scss */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

/* Anti FOUC */
/* line 347, ../sass/components/_mod.scss */
.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */
/* line 354, ../sass/components/_mod.scss */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

/* Necessary styles of the wrapper */
/* line 367, ../sass/components/_mod.scss */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

/* line 383, ../sass/components/_mod.scss */
.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

/* Fix iPad, iPhone glitches */
/* line 395, ../sass/components/_mod.scss */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */
/* line 403, ../sass/components/_mod.scss */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* line 414, ../sass/components/_mod.scss */
.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
/* line 427, ../sass/components/_mod.scss */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */
/* line 436, ../sass/components/_mod.scss */
.remodal-overlay {
  background: rgba(28, 28, 30, 0.76);
}

/* line 442, ../sass/components/_mod.scss */
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 450, ../sass/components/_mod.scss */
.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

/* line 455, ../sass/components/_mod.scss */
.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */
/* line 463, ../sass/components/_mod.scss */
.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */
/* line 469, ../sass/components/_mod.scss */
.remodal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #000;
  background: #fff;
}

/* line 483, ../sass/components/_mod.scss */
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 491, ../sass/components/_mod.scss */
.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

/* line 496, ../sass/components/_mod.scss */
.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */
/* line 503, ../sass/components/_mod.scss */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */
/* line 510, ../sass/components/_mod.scss */
.remodal-close {
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #fff;
  border: 0;
  outline: 0;
  background: transparent;
}

/* line 534, ../sass/components/_mod.scss */
.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

/* line 539, ../sass/components/_mod.scss */
.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 50px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */
/* line 558, ../sass/components/_mod.scss */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}

/* line 580, ../sass/components/_mod.scss */
.remodal-confirm {
  color: #fff;
  background: #81c784;
}

/* line 585, ../sass/components/_mod.scss */
.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

/* line 590, ../sass/components/_mod.scss */
.remodal-cancel {
  color: #fff;
  background: #e57373;
}

/* line 595, ../sass/components/_mod.scss */
.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */
/* line 602, ../sass/components/_mod.scss */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}
@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}
@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  /* line 713, ../sass/components/_mod.scss */
  .remodal {
    max-width: 1000px;
  }

  /* line 716, ../sass/components/_mod.scss */
  .remodal.images {
    max-width: 800px;
  }
}
/* IE8
   ========================================================================== */
/* line 724, ../sass/components/_mod.scss */
.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

/* line 728, ../sass/components/_mod.scss */
.lt-ie9 .remodal {
  max-width: 1340px;
}

/* line 735, ../sass/components/_mod.scss */
.remodal-wrapper .midd_text {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
/* line 740, ../sass/components/_mod.scss */
.remodal-wrapper .midd_text_min {
  text-transform: none;
}
/* line 744, ../sass/components/_mod.scss */
.remodal-wrapper img {
  width: 81.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-left: 9.16667%;
}
/* line 748, ../sass/components/_mod.scss */
.remodal-wrapper .part_non {
  width: 82%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: left;
  padding-left: 2rem;
}
/* line 752, ../sass/components/_mod.scss */
.remodal-wrapper .part_non span {
  font-size: 11px;
  line-height: 28px;
}
/* line 755, ../sass/components/_mod.scss */
.remodal-wrapper .part_non ul {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  float: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 759, ../sass/components/_mod.scss */
.remodal-wrapper .part_non ul li {
  list-style-type: circle;
  color: #fff;
  font-size: 8px;
  line-height: 14px;
}
/* line 770, ../sass/components/_mod.scss */
.remodal-wrapper h3 {
  background: #ffd600;
  width: 102%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-left: -1%;
  margin-right: -1%;
  margin-top: -2%;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: Open Sans;
  color: #383b30;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
/* line 795, ../sass/components/_mod.scss */
.remodal-wrapper .up .line-price {
  color: #000;
  font-family: Open Sans;
  color: #383b30;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}
/* line 803, ../sass/components/_mod.scss */
.remodal-wrapper .up .line-price:nth-child(2n+1) {
  background: #e8e8e8;
}
/* line 807, ../sass/components/_mod.scss */
.remodal-wrapper .up .line-price div:nth-child(1) {
  width: 45%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  border-right: 1px solid #000;
}
/* line 811, ../sass/components/_mod.scss */
.remodal-wrapper .up .line-price div:nth-child(2) {
  width: 18%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  border-right: 1px solid #000;
}
/* line 815, ../sass/components/_mod.scss */
.remodal-wrapper .up .line-price div:nth-child(3) {
  width: 25%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 822, ../sass/components/_mod.scss */
.remodal-wrapper .line_paragraff {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  font-family: Open Sans;
  color: #383b30;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 831, ../sass/components/_mod.scss */
.remodal-wrapper .down {
  margin-top: 2rem;
}
/* line 833, ../sass/components/_mod.scss */
.remodal-wrapper .down .line-price {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Open Sans;
  color: #383b30;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}
/* line 848, ../sass/components/_mod.scss */
.remodal-wrapper .down .line-price:nth-child(2n+1) {
  background: #e8e8e8;
}
/* line 852, ../sass/components/_mod.scss */
.remodal-wrapper .down .line-price div:nth-child(1) {
  width: 60%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  border-right: 1px solid #000;
}
/* line 856, ../sass/components/_mod.scss */
.remodal-wrapper .down .line-price div:nth-child(2) {
  width: 30%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
}
/* line 862, ../sass/components/_mod.scss */
.remodal-wrapper fieldset {
  width: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5rem;
}
/* line 869, ../sass/components/_mod.scss */
.remodal-wrapper fieldset:nth-child(1) {
  margin-top: 2rem;
}
/* line 873, ../sass/components/_mod.scss */
.remodal-wrapper fieldset label {
  text-align: left;
  font-family: Open Sans;
  color: #383b30;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
}

/* line 1, ../sass/components/_anim.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 38, ../sass/components/_anim.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 43, ../sass/components/_anim.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 48, ../sass/components/_anim.scss */
.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 76, ../sass/components/_anim.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 109, ../sass/components/_anim.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 142, ../sass/components/_anim.scss */
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 208, ../sass/components/_anim.scss */
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 241, ../sass/components/_anim.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 274, ../sass/components/_anim.scss */
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 307, ../sass/components/_anim.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 340, ../sass/components/_anim.scss */
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 365, ../sass/components/_anim.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
/* line 394, ../sass/components/_anim.scss */
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}
@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}
/* line 423, ../sass/components/_anim.scss */
.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
/* line 452, ../sass/components/_anim.scss */
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}
/* line 481, ../sass/components/_anim.scss */
.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
/* line 510, ../sass/components/_anim.scss */
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
/* line 539, ../sass/components/_anim.scss */
.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
/* line 568, ../sass/components/_anim.scss */
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/* line 600, ../sass/components/_anim.scss */
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 793, ../sass/components/_anim.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
/* line 849, ../sass/components/_anim.scss */
.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 884, ../sass/components/_anim.scss */
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
  opacity: 1;
}

/* line 13, ../sass/layout/_mod.scss */
.middle {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  /*overflow-x: hidden;*/
}
/* line 12, ../../../RailsInstaller/Ruby2.3.0/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.middle:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 18, ../sass/layout/_mod.scss */
header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #606c88;
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
}
/* line 27, ../sass/layout/_mod.scss */
header .right {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 31, ../sass/layout/_mod.scss */
header .right > .button {
  border: 1px solid #c9c9c9;
  padding: 0px 20px;
  background: #f6d627;
  float: right;
}
/* line 34, ../sass/layout/_mod.scss */
header .right > .button a {
  font-size: 16px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
}
/* line 42, ../sass/layout/_mod.scss */
header .right > .button a:hover {
  background: #258dc8;
  background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%);
  background: -webkit-linear-gradient(top, #258dc8 0%, #258dc8 100%);
  background: linear-gradient(to bottom, #258dc8 0%, #258dc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 960px) {
  /* line 27, ../sass/layout/_mod.scss */
  header .right {
    position: relative;
  }
}
/* line 57, ../sass/layout/_mod.scss */
header .middle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
/* line 68, ../sass/layout/_mod.scss */
header .middle > a {
  color: #ffd600;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 120px;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 68, ../sass/layout/_mod.scss */
  header .middle > a {
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
  }
  /* line 77, ../sass/layout/_mod.scss */
  header .middle > a:nth-child(1) {
    padding-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 960px) {
  /* line 85, ../sass/layout/_mod.scss */
  header #index_top {
    display: none;
  }
}
/* line 93, ../sass/layout/_mod.scss */
header ul.nav li.button {
  border: 1px solid #c9c9c9;
  padding: 0px 20px;
  background: #f6d627;
  float: right;
}
/* line 97, ../sass/layout/_mod.scss */
header ul.nav li a {
  font-size: 16px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
}
/* line 105, ../sass/layout/_mod.scss */
header ul.nav li a:hover {
  background: #258dc8;
  background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%);
  background: -webkit-linear-gradient(top, #258dc8 0%, #258dc8 100%);
  background: linear-gradient(to bottom, #258dc8 0%, #258dc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 960px) {
  /* line 90, ../sass/layout/_mod.scss */
  header ul.nav {
    height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(119, 119, 119, 0.9);
  }
}
/* line 135, ../sass/layout/_mod.scss */
header .graf {
  color: #fff;
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 3rem;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 143, ../sass/layout/_mod.scss */
  main {
    padding-top: 42px;
  }
}
/* line 152, ../sass/layout/_mod.scss */
main .slide_top {
  background-image: url(../img/1font.jpg);
  background-position: center right;
  background-size: 150%;
}
/* line 156, ../sass/layout/_mod.scss */
main .slide_top .middle {
  padding-top: 84px;
  padding-bottom: 84px;
}
/* line 158, ../sass/layout/_mod.scss */
main .slide_top .middle h1 {
  font-size: 33px;
  line-height: 42px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 163, ../sass/layout/_mod.scss */
main .slide_top .middle h2 {
  font-size: 40px;
  line-height: 56px;
  color: #ffd600;
  display: block;
  width: 50%;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  background: -moz-linear-gradient(to bottom, #545454 0%, black 100%);
  background: -webkit-linear-gradient(to bottom, #545454 0%, black 100%);
  background: linear-gradient(to bottom, #545454 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54ffffff', endColorstr='#54ffffff',GradientType=0 );
}
/* line 177, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-top: 28px;
  position: relative;
}
/* line 181, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .bg {
  width: 50%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, white 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.63) 0%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.63) 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1ffffff', endColorstr='#ffffff',GradientType=0 );
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 181, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide .bg {
    width: 100%;
  }
}
/* line 194, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide img.cons {
  width: 13%;
  position: absolute;
  bottom: -5rem;
  left: 0;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 194, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide img.cons {
    width: 23%;
    margin-top: 4rem;
    bottom: -12rem;
    left: 1rem;
    right: 1rem;
  }
}
/* line 208, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide span {
  display: block;
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  font-size: 32px;
  line-height: 42px;
  color: #e21111;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 216, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .list-property {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  box-sizing: border-box;
  padding: 1rem;
}
/* line 221, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .list-property li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin-top: 14px;
  margin-bottom: 14px;
}
/* line 225, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .list-property li:before {
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  float: left;
  display: block;
  background-image: url(../img/01a.png);
  background-size: contain;
}
/* line 239, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .right {
  width: 46%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  position: relative;
}
/* line 242, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .right > img {
  width: 59%;
  float: left;
  margin-top: -5rem;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 242, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide .right > img {
    margin-top: -4rem;
  }
  /* line 248, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide .right > img.cons {
    top: 10rem;
  }
}
/* line 252, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .right > img.curcl {
  position: absolute;
  width: 40%;
  right: 0;
}
/* line 257, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .right > img.curcl_one {
  width: 30%;
  bottom: 58px;
  left: 0;
  /* top: 0; */
  position: absolute;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 257, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide .right > img.curcl_one {
    bottom: 215px;
  }
}
/* line 268, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .right > img.cons {
  position: absolute;
  right: 0;
  left: 0;
  width: 13%;
}
/* line 276, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .right form {
  margin-top: -10rem;
  width: 40%;
  float: right;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 281, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .right form input {
  font-size: 16px;
  line-height: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 290, ../sass/layout/_mod.scss */
main .slide_top .middle .text-slide .right form button {
  width: 100%;
  background: #ffd65e;
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
  border: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 28px;
  font-family: 'Source Sans Pro', sans-serif;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 276, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide .right form {
    width: 98%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 152, ../sass/layout/_mod.scss */
  main .slide_top {
    background-size: cover;
  }
  /* line 315, ../sass/layout/_mod.scss */
  main .slide_top .middle h1 {
    width: 100%;
  }
  /* line 318, ../sass/layout/_mod.scss */
  main .slide_top .middle h2 {
    width: 100%;
  }
  /* line 322, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide .list-property {
    width: 100%;
  }
  /* line 325, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide .right {
    width: 100%;
    margin-top: 8rem;
  }
  /* line 330, ../sass/layout/_mod.scss */
  main .slide_top .middle .text-slide .curcl {
    top: 18rem;
  }
}
/* line 338, ../sass/layout/_mod.scss */
main .salle_box-1 {
  background-image: url(../img/land.jpg);
  background-size: cover;
  background-position: center;
}
/* line 343, ../sass/layout/_mod.scss */
main .salle_box-1.block7 {
  background-image: url(../img/landscape-fog.png);
  background-size: cover;
}
/* line 346, ../sass/layout/_mod.scss */
main .salle_box-1.block7 form {
  padding-top: 10rem !important;
  background: rgba(69, 68, 68, 0.68);
  background-image: url(../img/nmisn.png);
  background-size: 49%;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 356, ../sass/layout/_mod.scss */
main .salle_box-1.block7 form input {
  font-size: 20px;
  line-height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 364, ../sass/layout/_mod.scss */
main .salle_box-1.block7 form button {
  width: 100%;
  background: #ffd65e;
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 379, ../sass/layout/_mod.scss */
main .salle_box-1.block12 {
  background-image: url(../img/car-wheel.png);
  background-size: cover;
}
/* line 383, ../sass/layout/_mod.scss */
main .salle_box-1.block12 h3 {
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 33px;
  line-height: 42px;
  text-align: center;
  width: 58%;
}
/* line 391, ../sass/layout/_mod.scss */
main .salle_box-1.block12 h3 span {
  color: #fbe912;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 383, ../sass/layout/_mod.scss */
  main .salle_box-1.block12 h3 {
    width: 100%;
    line-height: 55px;
  }
}
/* line 399, ../sass/layout/_mod.scss */
main .salle_box-1.block12 form {
  background: rgba(69, 68, 68, 0.68);
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 404, ../sass/layout/_mod.scss */
main .salle_box-1.block12 form input {
  font-size: 20px;
  line-height: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 412, ../sass/layout/_mod.scss */
main .salle_box-1.block12 form button {
  width: 100%;
  background: #ffd65e;
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 426, ../sass/layout/_mod.scss */
main .salle_box-1.block12 .h3_pic {
  width: 30%;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 426, ../sass/layout/_mod.scss */
  main .salle_box-1.block12 .h3_pic {
    width: 100%;
    line-height: 55px;
  }
}
/* line 434, ../sass/layout/_mod.scss */
main .salle_box-1 .middle {
  padding-top: 56px;
  padding-bottom: 56px;
}
/* line 436, ../sass/layout/_mod.scss */
main .salle_box-1 .middle h3 {
  padding: 30px;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ff1a1a;
  font-size: 33px;
  line-height: 42px;
  line-height: 34px;
  text-align: center;
}
/* line 447, ../sass/layout/_mod.scss */
main .salle_box-1 .middle h3 strong {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
/* line 454, ../sass/layout/_mod.scss */
main .salle_box-1 .middle h3 span {
  color: #ff1a1a;
}
/* line 457, ../sass/layout/_mod.scss */
main .salle_box-1 .middle h3 img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 464, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box {
  margin-top: 20px;
}
/* line 467, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .timer {
  background: rgba(66, 65, 65, 0.98);
  background-size: contain;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 475, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .timer .price_box_time {
  margin-top: 2rem;
}
/* line 477, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .timer .price_box_time div {
  font-size: 30px;
  line-height: 42px;
  color: #ffd600;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 481, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .timer .price_box_time div:nth-child(1) {
  text-decoration: line-through;
  color: #000;
}
/* line 488, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .timer .h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 42px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}
/* line 495, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .timer .chart {
  display: inline-block;
  width: 95px;
  height: 95px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  padding-top: 22px;
  text-align: center;
  color: #fff;
}
/* line 507, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .timer .chart span {
  display: block;
  font-size: 2em;
  font-weight: normal;
  margin-top: 11px;
  margin-bottom: 10px;
}
/* line 515, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .timer .chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 523, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .pic_product {
  width: 40%;
  float: right;
  margin-left: 100px;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 523, ../sass/layout/_mod.scss */
  main .salle_box-1 .middle .time_box .pic_product {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
}
/* line 533, ../sass/layout/_mod.scss */
main .salle_box-1 .middle .time_box .pic_product .prizz {
  width: 30%;
}
/* line 542, ../sass/layout/_mod.scss */
main .video_box {
  background-image: url(../img/outdoor-rock.jpg);
  background-position: center;
  background-size: cover;
}
/* line 546, ../sass/layout/_mod.scss */
main .video_box .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 549, ../sass/layout/_mod.scss */
main .video_box .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
/* line 558, ../sass/layout/_mod.scss */
main .video_box .video {
  border: 20px solid #fff;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}
/* line 563, ../sass/layout/_mod.scss */
main .video_box .video iframe {
  margin: 0;
  width: 100%;
}
/* line 570, ../sass/layout/_mod.scss */
main .text-info {
  background: #cecece;
}
/* line 574, ../sass/layout/_mod.scss */
main .text-info .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 577, ../sass/layout/_mod.scss */
main .text-info .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
/* line 587, ../sass/layout/_mod.scss */
main .text-info .flex_row > div {
  width: 30%;
}
/* line 590, ../sass/layout/_mod.scss */
main .text-info .flex_row > div:nth-child(3) img {
  border: 8px solid #007bbf;
  border-radius: 14px;
}
@media only screen and (min-width: 320px) and (max-width: 960px) {
  /* line 587, ../sass/layout/_mod.scss */
  main .text-info .flex_row > div {
    width: 100%;
  }
  /* line 597, ../sass/layout/_mod.scss */
  main .text-info .flex_row > div:nth-child(3) {
    width: 90%;
  }
}
/* line 603, ../sass/layout/_mod.scss */
main .text-info .text {
  width: 30%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  float: none;
  background: rgba(236, 236, 236, 0.82);
  padding: 30px;
  font-size: 18px;
  line-height: 28px;
  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: auto;
  margin-right: auto;
}
/* line 615, ../sass/layout/_mod.scss */
main .sequence .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
/* line 624, ../sass/layout/_mod.scss */
main .sequence .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 627, ../sass/layout/_mod.scss */
main .sequence .middle .flex_row .box {
  width: 14%;
  margin: 0 20px;
  background-image: url(../img/bg_put.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 13% 54%;
}
/* line 634, ../sass/layout/_mod.scss */
main .sequence .middle .flex_row .box img {
  width: 100%;
}
/* line 639, ../sass/layout/_mod.scss */
main .sequence .middle .flex_row .box div {
  min-height: 18rem;
}
/* line 642, ../sass/layout/_mod.scss */
main .sequence .middle .flex_row .box p {
  font-size: 14px;
  line-height: 28px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  padding: 0 22px;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 642, ../sass/layout/_mod.scss */
  main .sequence .middle .flex_row .box p {
    font-size: 12px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 627, ../sass/layout/_mod.scss */
  main .sequence .middle .flex_row .box {
    width: 100%;
  }
  /* line 658, ../sass/layout/_mod.scss */
  main .sequence .middle .flex_row .box div {
    min-height: 6rem;
    padding-top: 5rem;
  }
  /* line 662, ../sass/layout/_mod.scss */
  main .sequence .middle .flex_row .box img {
    width: 50%;
  }
}
/* line 667, ../sass/layout/_mod.scss */
main .sequence .middle .flex_row .arrow {
  width: 2%;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 667, ../sass/layout/_mod.scss */
  main .sequence .middle .flex_row .arrow {
    width: 4%;
    -moz-transform: rotate(90deg);
    /* ╨Ф╨╗╤П Firefox */
    -ms-transform: rotate(90deg);
    /* ╨Ф╨╗╤П IE */
    -webkit-transform: rotate(90deg);
    /* ╨Ф╨╗╤П Safari, Chrome, iOS */
    -o-transform: rotate(90deg);
    /* ╨Ф╨╗╤П Opera */
    transform: rotate(90deg);
  }
}
/* line 681, ../sass/layout/_mod.scss */
main .sequence_avtor {
  background: #f0eeef;
}
/* line 683, ../sass/layout/_mod.scss */
main .sequence_avtor .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 686, ../sass/layout/_mod.scss */
main .sequence_avtor .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
/* line 696, ../sass/layout/_mod.scss */
main .foto_job {
  background-image: url(../img/road-skyline.png);
  background-size: cover;
  background-position: center;
}
/* line 700, ../sass/layout/_mod.scss */
main .foto_job .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 704, ../sass/layout/_mod.scss */
main .foto_job .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #ffd600;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background: rgba(66, 65, 65, 0.98);
  padding: 10px;
}
/* line 715, ../sass/layout/_mod.scss */
main .foto_job .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 718, ../sass/layout/_mod.scss */
main .foto_job .middle .flex_row > div {
  width: 28%;
  margin: 0 2%;
  background: #007bbf;
  border: 5px solid #007bbf;
  color: #fff;
}
/* line 724, ../sass/layout/_mod.scss */
main .foto_job .middle .flex_row > div img {
  width: 100%;
}
/* line 727, ../sass/layout/_mod.scss */
main .foto_job .middle .flex_row > div p {
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  min-height: 8rem;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 718, ../sass/layout/_mod.scss */
  main .foto_job .middle .flex_row > div {
    width: 100%;
    margin-top: 1rem;
  }
}
/* line 743, ../sass/layout/_mod.scss */
main .carusel_otziv .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 746, ../sass/layout/_mod.scss */
main .carusel_otziv .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #ffd600;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background: rgba(66, 65, 65, 0.98);
  padding: 10px;
}
/* line 758, ../sass/layout/_mod.scss */
main .carusel_otziv .flex_row img {
  width: 38%;
}
/* line 761, ../sass/layout/_mod.scss */
main .carusel_otziv .flex_row div {
  width: 50%;
}
/* line 763, ../sass/layout/_mod.scss */
main .carusel_otziv .flex_row div .name {
  font-size: 24px;
  line-height: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3e8be2;
}
/* line 768, ../sass/layout/_mod.scss */
main .carusel_otziv .flex_row div p {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Raleway', sans-serif;
  color: #000;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 761, ../sass/layout/_mod.scss */
  main .carusel_otziv .flex_row div {
    width: 80%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 757, ../sass/layout/_mod.scss */
  main .carusel_otziv .flex_row {
    width: 100%;
  }
  /* line 780, ../sass/layout/_mod.scss */
  main .carusel_otziv .flex_row img {
    width: 80%;
  }
}
/* line 787, ../sass/layout/_mod.scss */
main .do_posle {
  background-image: url(../img/bg.png);
}
/* line 789, ../sass/layout/_mod.scss */
main .do_posle .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #ffd600;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background: rgba(66, 65, 65, 0.98);
  padding: 10px;
}
/* line 800, ../sass/layout/_mod.scss */
main .do_posle .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 803, ../sass/layout/_mod.scss */
main .do_posle img {
  width: 70%;
}
/* line 807, ../sass/layout/_mod.scss */
main .doubt {
  background-image: url(../img/laptop-notebook.jpg);
  background-position: center;
  background-size: cover;
}
/* line 812, ../sass/layout/_mod.scss */
main .doubt .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #ffd600;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background: rgba(66, 65, 65, 0.98);
  padding: 10px;
}
/* line 823, ../sass/layout/_mod.scss */
main .doubt .middle {
  padding-top: 56px;
  padding-bottom: 56px;
}
/* line 825, ../sass/layout/_mod.scss */
main .doubt .middle div {
  width: 50%;
}
/* line 828, ../sass/layout/_mod.scss */
main .doubt .middle div li {
  background: rgba(25, 25, 25, 0.86);
  margin-bottom: 20px;
  padding: 30px;
}
/* line 835, ../sass/layout/_mod.scss */
main .doubt .middle div li strong {
  color: #3e8be2;
  font-size: 33px;
  line-height: 42px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  float: left;
  display: block;
  width: 10%;
}
/* line 844, ../sass/layout/_mod.scss */
main .doubt .middle div li p {
  float: left;
  font-size: 16px;
  line-height: 28px;
  line-height: 26px;
  color: #fff;
  display: block;
  width: 90%;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 825, ../sass/layout/_mod.scss */
  main .doubt .middle div {
    width: 100%;
  }
}
/* line 857, ../sass/layout/_mod.scss */
main .doubt .middle img {
  width: 45%;
}
/* line 863, ../sass/layout/_mod.scss */
main .order .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #ffd600;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background: rgba(66, 65, 65, 0.98);
  padding: 10px;
}
/* line 874, ../sass/layout/_mod.scss */
main .order .middle {
  padding-top: 56px;
  padding-bottom: 56px;
}
/* line 880, ../sass/layout/_mod.scss */
main .dostavka .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #ffd600;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background: rgba(66, 65, 65, 0.98);
  padding: 10px;
}
/* line 891, ../sass/layout/_mod.scss */
main .dostavka .middle {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
}
/* line 894, ../sass/layout/_mod.scss */
main .dostavka .middle .post_text {
  position: absolute;
  top: 0;
  color: #e62117;
  font-size: 27px;
  line-height: 30px;
}
/* line 901, ../sass/layout/_mod.scss */
main .dostavka .middle img {
  width: 32%;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  /* line 901, ../sass/layout/_mod.scss */
  main .dostavka .middle img {
    width: 100%;
  }
}
/* line 908, ../sass/layout/_mod.scss */
main .dostavka .maps {
  background: #0f0f0f;
}
/* line 910, ../sass/layout/_mod.scss */
main .dostavka .maps .h2 {
  font-size: 33px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #ffd600;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background: rgba(66, 65, 65, 0.98);
  padding: 10px;
}
/* line 921, ../sass/layout/_mod.scss */
main .dostavka .maps .middle {
  padding-top: 28px;
  padding-bottom: 28px;
}
/* line 926, ../sass/layout/_mod.scss */
main .dostavka .maps .flex_col {
  margin: 0 20px;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}
/* line 930, ../sass/layout/_mod.scss */
main .dostavka .maps .flex_col a {
  color: #ffd600;
}

/* line 10, ../sass/vendors/_mod.scss */
h1:after, h2:after, h3:after, .remodal .form_out img:after, .remodal .form div:after, main > div:after, main .slide_top .middle .text-slide .bg:after, main .doubt .middle div li:after {
  content: "";
  display: table;
  clear: both;
}

/* line 16, ../sass/vendors/_mod.scss */
.flex_row, .remodal-wrapper .up .line-price, main .salle_box-1 .middle .time_box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 50, ../sass/vendors/_mod.scss */
.flex_col, main .slide_top .middle .text-slide .right form, main .salle_box-1.block7 form, main .salle_box-1.block12 form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 1, ../sass/vendors/_mobi.scss */
.toggle-nav {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 960px) {
  /* line 5, ../sass/vendors/_mobi.scss */
  .toggle-nav {
    padding: 20px;
    position: fixed;
    left: 10px;
    top: 2%;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #000;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    transition: color linear 0.15s;
    text-decoration: none;
    z-index: 1000;
  }

  /* line 23, ../sass/vendors/_mobi.scss */
  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #66a992;
    background: #303030;
  }
  /* line 27, ../sass/vendors/_mobi.scss */
  .toggle-nav:hover .navi, .toggle-nav.active .navi {
    border: 2px solid #303030;
  }
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
  /* line 35, ../sass/vendors/_mobi.scss */
  .toggle-nav {
    padding: 20px;
    position: fixed;
    left: 24px;
    top: 89px;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #000;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    transition: color linear 0.15s;
    text-decoration: none;
    z-index: 1000;
  }

  /* line 52, ../sass/vendors/_mobi.scss */
  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #66a992;
    background: #303030;
  }
  /* line 56, ../sass/vendors/_mobi.scss */
  .toggle-nav:hover .navi, .toggle-nav.active .navi {
    border: 2px solid #303030;
  }
}
/* line 69, ../sass/vendors/_mobi.scss */
.remodal-wrapper .midd_text {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
/* line 74, ../sass/vendors/_mobi.scss */
.remodal-wrapper .midd_text_min {
  text-transform: none;
}
/* line 78, ../sass/vendors/_mobi.scss */
.remodal-wrapper img {
  width: 81.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  margin-left: 9.16667%;
}
/* line 82, ../sass/vendors/_mobi.scss */
.remodal-wrapper .part_non {
  width: 82%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  text-align: left;
  padding-left: 2rem;
}
/* line 86, ../sass/vendors/_mobi.scss */
.remodal-wrapper .part_non span {
  font-size: 11px;
  line-height: 28px;
}
/* line 89, ../sass/vendors/_mobi.scss */
.remodal-wrapper .part_non ul {
  width: 100%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%;
  float: none;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 93, ../sass/vendors/_mobi.scss */
.remodal-wrapper .part_non ul li {
  list-style-type: circle;
  color: #fff;
  font-size: 8px;
  line-height: 14px;
}
